{% extends "homesite/base.html" %}
{% load staticfiles %}
	{% block page_title %}
		<title>SI Informa - {{ post.title }}</title>
	{% endblock page_title %}
	{% block content %}

	<!-- FACEBOOK COMMENTS PLUGIN -->
	<!-- <div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>-->
	<!-- END FACEBOOK COMMENTS PLUGIN -->

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=815093458588258";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

		<div id="main" class="container">

			<div class="section section-no-margin-bottom row entries bg-primary">

				<article class="entry style-grid style-hero hero-nav type-post col-xs-6 col-sm-6">

					<a href="{% url 'post_detail' prev_post.slug %}">
						<header class="entry-header">
							<p class="small">Post Anterior</p>
							<h3 class="entry-title">{{ prev_post.title }}</h3>
						</header>

						<figure class="entry-thumbnail">

							<div class="overlay overlay-primary"></div>

							<!-- to disable lazy loading, remove data-src and data-src-retina -->
							<img src="{% static 'img/placeholder.gif' %}" data-src="{{ prev_post.image_link }}" data-src-retina="{{ prev_post.image_url }}" width="480" height="280" alt="">

							<!--fallback for no javascript browsers-->
							<noscript>
								<img src="{% static 'uploads/480x280_1.jpg' %}" alt="">
							</noscript>

						</figure>

					</a> 

				</article>

				<article class="entry style-grid style-hero hero-nav type-post col-xs-6 col-sm-6">

					<a href="{% url 'post_detail' next_post.slug %}">

						<header class="entry-header">
							<p class="small">Proximo Post</p>
							<h3 class="entry-title">{{ next_post.title }}</h3>
						</header>

						<figure class="entry-thumbnail">

							<div class="overlay overlay-primary"></div>

							<!-- to disable lazy loading, remove data-src and data-src-retina -->
							<img src="{% static 'img/placeholder.gif' %}" data-src="{{ next_post.image_link }}" data-src-retina="{{ next_post.image_link }}" width="480" height="280" alt="">

							<!--fallback for no javascript browsers-->
							<noscript>
								<img src="{% static 'uploads/480x280_3.jpg' %}" alt="">
							</noscript>

						</figure>

					</a> 

				</article>

			</div>

			<div id="content" class="content section row">

				<div class="col-md-12 bg-base col-lg-12 col-xl-12">

					<div class="ribbon ribbon-highlight">
						<ol class="breadcrumb ribbon-inner">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'all_posts' %}">Posts</a></li>
							<li class="active" title="{{ post.title }}">{{ post.title }}</li>
						</ol>
					</div>

					<header class="page-header">

						<!--
						<div class="page-meta pull-right hidden-xs">
							<a href="#comments">
								<span class="comments-count-balloon bg-primary">123<em>Comments</em></span>
							</a>
						</div>
						-->

						<h2 class="page-title">
							{{ post.title }}
						</h2>

					</header>

					<article class="entry style-single type-post">

						<figure class="entry-thumbnail">

							<!-- to disable lazy loading, remove data-src and data-src-retina -->
							<img src="{% static 'img/placeholder.gif' %}" data-src="{{ post.image_link }}" data-src-retina="{{ post.image_link }}" width="680" height="452" alt="">

							<!--fallback for no javascript browsers-->
							<noscript>
								<img src="{{ post.image_link }}" alt="">
							</noscript>

						</figure>

						<div class="entry-meta indented">
							<span class="author">por <a href="blog.html">{{ post.author.get_full_name }}</a></span>
							<span class="entry-date"><a href="blog.html">em <time datetime="{{ post.pub_date }}">{{ post.pub_date }}</time></a></span>
							<span class="category">em <a href="{% url 'posts_category_list' post.category.name %}">{{ post.category.name }}</a></span>
						</div>

						<div class="entry-content indented">

							<p class="lead">
							{% autoescape off %}
								{{ post.content|linebreaks }}
							{% endautoescape %}
							</p>


						</div>

					</article>

					<div class="after-entry indented">

						<hr>


						<aside class="widget post-tags">
							<i class="icon-tags"></i> Tags:
							{% for tag in post.tags.all %}
								<a href="#">{{ tag.name }}</a>
							{% endfor %}
						</aside>

						<hr>

						<aside class="widget widget-author media">

							<figure class="entry-author-avatar media-object avatar pull-left">
								<!-- to disable lazy loading, remove data-src and data-src-retina -->
								<img style="opacity: 1;" src="../uploads/230x230_4.jpg" data-src="../uploads/230x230_4.jpg" data-src-retina="../uploads/460x460_4.jpg" class="img-circle" alt="" height="230" width="230">

								<!--fallback for no javascript browsers-->
								<noscript>
									<img src="../uploads/230x230_4.jpg" alt="">
								</noscript>
							</figure>

						</aside>

						<aside class="widget">
							Compartilhar:
							<div class="fb-like"></div>
							<div class="fb-share-button" data-href="http://fasainforma.aethersolucoes.com.br/posts/{{ post.slug }}" data-layout="button_count"></div>
						</aside>

					</div>

					<hr>

					<div id="comments" class="comments-area indented">

						<h4 class="comments-title">Comentários</h4>
						<hr>

						<div class="fb-comments" data-href="http://fasainforma.aethersolucoes.com.br/posts/{{ post.slug }}" data-width="589" data-numposts="5"></div>

					</div><!--/#comments-->

				</div><!--/.col-md-8.col-lg-8.col-xl-9-->

			</div><!--/#content-->

		</div><!--#main.container-->
	{% endblock content %}
