{% extends "homesite/base.html" %}
{% load staticfiles %}
	{% block content %}

	<div id="fb-root"></div>
		<script>
			  window.fbAsyncInit = function() {
			  FB.init({
			    appId      : '815093458588258', // App ID
			    channelUrl : 'http://localhost', // Channel File
			    status     : true, // check login status
			    cookie     : true, // enable cookies to allow the server to access the session
			    xfbml      : true  // parse XFBML
			  });
			};

			(function(d){
			  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			  if (d.getElementById(id)) {return;}
			  js = d.createElement('script'); js.id = id; js.async = true;
			  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=815093458588258";
			  ref.parentNode.insertBefore(js, ref);
			}(document));
		</script>

	<!-- FACEBOOK COMMENTS PLUGIN -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- END FACEBOOK COMMENTS PLUGIN -->

		<div id="main" class="container">

			<div class="section section-no-margin-bottom row entries bg-primary">

				<article class="entry style-grid style-hero hero-nav type-post col-xs-6 col-sm-6">

					<a href="{% url 'post_detail' prev_post.slug %}">
						<header class="entry-header">
							<p class="small">Post Anterior</p>
							<h3 class="entry-title">{{ prev_post.title }}</h3>
						</header>

						<figure class="entry-thumbnail">

							<div class="overlay overlay-primary"></div>

							<!-- to disable lazy loading, remove data-src and data-src-retina -->
							<img src="{% static 'img/placeholder.gif' %}" data-src="{{ prev_post.image_link }}" data-src-retina="{{ prev_post.image_url }}" width="480" height="280" alt="">

							<!--fallback for no javascript browsers-->
							<noscript>
								<img src="{% static 'uploads/480x280_1.jpg' %}" alt="">
							</noscript>

						</figure>

					</a> 

				</article>

				<article class="entry style-grid style-hero hero-nav type-post col-xs-6 col-sm-6">

					<a href="{% url 'post_detail' next_post.slug %}">

						<header class="entry-header">
							<p class="small">Proximo Post</p>
							<h3 class="entry-title">{{ next_post.title }}</h3>
						</header>

						<figure class="entry-thumbnail">

							<div class="overlay overlay-primary"></div>

							<!-- to disable lazy loading, remove data-src and data-src-retina -->
							<img src="{% static 'img/placeholder.gif' %}" data-src="{{ next_post.image_link }}" data-src-retina="{{ next_post.image_link }}" width="480" height="280" alt="">

							<!--fallback for no javascript browsers-->
							<noscript>
								<img src="{% static 'uploads/480x280_3.jpg' %}" alt="">
							</noscript>

						</figure>

					</a> 

				</article>

			</div>

			<div id="content" class="content section row">

				<div class="col-md-8 bg-base col-lg-8 col-xl-9">

					<div class="ribbon ribbon-highlight">
						<ol class="breadcrumb ribbon-inner">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'all_posts' %}">Posts</a></li>
							<li class="active" title="{{ post.title }}">{{ post.title }}</li>
						</ol>
					</div>

					<header class="page-header">

						<div class="page-meta pull-right hidden-xs">
							<a href="#comments">
								<span class="comments-count-balloon bg-primary">123<em>Comments</em></span>
							</a>
						</div>

						<h2 class="page-title">
							{{ post.title }}
						</h2>

					</header>

					<article class="entry style-single type-post">

						<figure class="entry-thumbnail">

							<!-- to disable lazy loading, remove data-src and data-src-retina -->
							<img src="{% static 'img/placeholder.gif' %}" data-src="{{ post.image_link }}" data-src-retina="{{ post.image_link }}" width="680" height="452" alt="">

							<!--fallback for no javascript browsers-->
							<noscript>
								<img src="{{ post.image_link }}" alt="">
							</noscript>

						</figure>

						<div class="entry-meta indented">
							<span class="author">por <a href="blog.html">{{ post.author }}</a></span>
							<span class="entry-date"><a href="blog.html">em <time datetime="{{ post.pub_date }}">{{ post.pub_date }}</time></a></span>
							<span class="category">em <a href="{% url 'posts_category_list' post.category.name %}">{{ post.category.name }}</a></span>
						</div>

						<div class="entry-content indented">

							<p class="lead">
							{% autoescape off %}
								{{ post.content|linebreaks }}
							{% endautoescape %}
							</p>


						</div>

					</article>

					<div class="after-entry indented">

						<hr>

						<aside class="widget teste">
							<aside class="post-tags">
								<i class="icon-tags"></i> Tags:
								{% for tag in post.tags.all %}
									<a href="{% url 'posts_tag_list' tag.name %}"> {{ tag.name }}</a>
								{% endfor %}
							</aside>
							<aside class="post-rate">
								<i class="icon-star"></i> Gostou?
									{% if user and not user.is_anonymous %}
										<a href="">Sim</a> <a href="">Não</a><i class="icon-yes"></i>
										{# <a href="/logout">Logout</a> #}
									{% else %}
										Entre com <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Twitter</a> ou <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Google</a> para votar
									{% endif %}
							</aside>
						</aside>

						<hr>

						<aside class="widget widget-author media">

							<figure class="entry-author-avatar media-object avatar pull-left">
								<!-- to disable lazy loading, remove data-src and data-src-retina -->
								<img src="{% static 'img/placeholder.gif' %}" data-src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/080/26e/3a11b10.jpg" data-src-retina="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/080/26e/3a11b10.jpg" width="230" height="230" class="img-circle" alt="">

								<!--fallback for no javascript browsers-->
								<noscript>
									<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/080/26e/3a11b10.jpg" alt="">
								</noscript>
							</figure>

							<div class="media-body">
								<h4 class="entry-author-name">Por <a href="blog.html">{{ post.author }}</a></h4>

								<p>
									Estudante de Sistemas de Informação, sempre fui apaixonado por tecnologia. Nos útilmos anos venho me enteressando por desenvolvimento web (Front-end e Back-end). Atualmente sou desenvolvedor web PHP na empresa TECTOTUM Tecnologia e desenvolvedor Python+Django nas horas vagas.
								</p>

							</div>

						</aside>

						<hr>

						<aside class="widget">

							<h4 class="widget-title">Posts Relacionados</h4>

							<div class="entries row">

								<article class="entry type-post style-thumbnail col-xs-3 col-sm-3">

									<figure class="entry-thumbnail">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="{% static 'img/placeholder.gif' %}" data-src="{% static 'uploads/230x230_1.jpg' %}" data-src-retina="{% static 'uploads/460x460_1.jpg' %}" width="230" height="230" alt="">

										<!--fallback for no javascript browsers-->
										<noscript>
											<img src="{% static 'uploads/230x230_1.jpg' %}" alt="">
										</noscript>
									</figure>

									<h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis.</a> </h3>


								</article>

								<article class="entry type-post style-thumbnail col-xs-3 col-sm-3">

									<figure class="entry-thumbnail">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="{% static 'img/placeholder.gif' %}" data-src="{% static 'uploads/230x230_2.jpg' %}" data-src-retina="{% static 'uploads/460x460_2.jpg' %}" width="230" height="230" alt="">

										<!--fallback for no javascript browsers-->
										<noscript>
											<img src="{% static 'uploads/230x230_2.jpg' %}" alt="">
										</noscript>
									</figure>

									<h3 class="entry-title"><a href="single.html">Oomnis iste natus error sit voluptatem.</a> </h3>


								</article>

								<article class="entry type-post style-thumbnail col-xs-3 col-sm-3">

									<figure class="entry-thumbnail">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="{% static 'img/placeholder.gif' %}" data-src="{% static 'uploads/230x230_3.jpg' %}" data-src-retina="{% static 'uploads/460x460_3.jpg' %}" width="230" height="230" alt="">

										<!--fallback for no javascript browsers-->
										<noscript>
											<img src="{% static 'uploads/230x230_3.jpg' %}" alt="">
										</noscript>
									</figure>

									<h3 class="entry-title"><a href="single.html">Temporibus autem quibusdam.</a> </h3>


								</article>

								<article class="entry type-post style-thumbnail col-xs-3 col-sm-3">

									<figure class="entry-thumbnail">
										<!-- to disable lazy loading, remove data-src and data-src-retina -->
										<img src="{% static 'img/placeholder.gif' %}" data-src="{% static 'uploads/230x230_5.jpg' %}" data-src-retina="{% static 'uploads/460x460_5.jpg' %}" width="230" height="230" alt="">

										<!--fallback for no javascript browsers-->
										<noscript>
											<img src="{% static 'uploads/230x230_5.jpg' %}" alt="">
										</noscript>
									</figure>

									<h3 class="entry-title"><a href="single.html">Siste natus error sit voluptatem.</a> </h3>


								</article>

							</div>

						</aside>

						<hr>

						<aside class="widget">
							Compartilhar:
							<!--<a href="#" class="" onclick="window.open(
								'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
								'facebook-share-dialog', 
								'width=626,height=436'); 
								return false;"><span class="icon-stack"><i class="icon-sign-blank icon-stack-base"></i><i class="icon-facebook icon-light"></i></span></a>-->
							<div class="fb-share-button" data-href="http://http://localhost/posts/janot-denuncia-eduardo-cunha-ao-stf-por-corrupcao-e-lavagem-de-dinheiro/" data-layout="button_count"></div>
							<a href="#" class="" onclick="window.open(
								'http://twitter.com/home?status='+encodeURIComponent(location.href), 
								'facebook-share-dialog', 
								'width=626,height=436'); 
								return false;"><span class="icon-stack"><i class="icon-sign-blank icon-stack-base"></i><i class="icon-twitter icon-light"></i></span></a>
							<a href="#" class="" onclick="window.open(
								'https://plus.google.com/share?url='+encodeURIComponent(location.href), 
								'facebook-share-dialog', 
								'width=500,height=436'); 
								return false;"><span class="icon-stack"><i class="icon-sign-blank icon-stack-base"></i><i class="icon-google-plus icon-light"></i></span></a>
							<a href="#" class="" onclick="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)})());"><span class="icon-stack"><i class="icon-sign-blank icon-stack-base"></i><i class="icon-pinterest icon-light"></i></span></a>
						</aside> 

					</div>

					<div id="comments" class="comments-area indented">

						<h4 class="comments-title">Comentários</h4>
						<hr>

						<div class="fb-comments"
						data-href="{{ my_object.slug }}"
						data-num-posts="5"
						data-width="589">
						</div>

						<!--<ol class="media-list comment-list">
							<li class="media comment">

								<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

								<div class="media-body">

									<h4 class="media-heading author-vcard">
										<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
										<span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span>
									</h4>
									<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

								</div>

								<ol class="media-list">

									<li class="media comment">

										<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

										<div class="media-body">

											<h4 class="media-heading author-vcard">
												<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
												<span class="comment-meta commentmetadata"> on <a href="#">July 8, 2013 at 7:46 am</a></span>
											</h4>

											<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

										</div>

									</li>

									<li class="media comment">

										<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

										<div class="media-body">

											<h4 class="media-heading author-vcard">
												<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
												<span class="comment-meta commentmetadata"> on <a href="#">July 8, 2013 at 7:46 am</a></span>
											</h4>

											<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

										</div>

										<ol class="media-list">
											<li class="media comment">

												<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

												<div class="media-body">

													<h4 class="media-heading author-vcard">
														<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
														<span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span>
													</h4>

													<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
												</div>

											</li>

											<li class="media comment">

												<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

												<div class="media-body">

													<h4 class="media-heading author-vcard">
														<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
														<span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span>
													</h4>

													<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
												</div>

											</li>

										</ol>

									</li>

								</ol>

							</li>
							<li class="media comment">

								<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

								<div class="media-body">

									<h4 class="media-heading author-vcard">
										<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
										<span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span>
									</h4>
									<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

								</div>

							</li>
							<li class="media comment">

								<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

								<div class="media-body">

									<h4 class="media-heading author-vcard">
										<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
										<span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span>
									</h4>
									<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

								</div>

							</li>
						</ol>

						<div id="respond" class="comments-respond">

							<h3 id="reply-title" class="comment-reply-title">Deixa um comentário</h3>

							<form action="#" class="form-inline row" method="post" id="commentform">

								<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label class="sr-only" for="inputName">Nome</label>
									<input class="form-control" id="inputName" name="author" type="text" value="" aria-required="true" placeholder="Seu Nome">
								</div>

								<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label class="sr-only" for="inputEmail">E-mail</label>
									<input class="form-control" id="inputEmail" name="author" type="text" value="" aria-required="true" placeholder="Seu E-mail">
								</div>

								<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label class="sr-only" for="inputWebsite">Website</label>
									<input class="form-control" id="inputWebsite" name="author" type="text" value="" aria-required="true" placeholder="Seu Website">
								</div>

								<div class="form-group col-lg-12 col-md-12 col-sm-12">
									<label class="sr-only" for="inputMessage">Messagem</label>
									<textarea class="form-control" id="inputMessage" name="message" rows="8" aria-required="true" placeholder="Seu comentário"></textarea>
								</div>

								<div class="form-group col-lg-12 col-md-12 col-sm-12">
									<button class="btn btn-primary" name="submit" id="submit">Enviar comentário</button>
								</div>

							</form>

						</div>--><!-- #respond -->

					</div><!--/#comments-->

				</div><!--/.col-md-8.col-lg-8.col-xl-9-->

				<div class="sidebar col-md-4 col-lg-4 col-xl-3">

					<aside class="widget">

						<h3 class="widget-title ribbon"><span>Tags</span></h3>

						<div class="tagcloud">
							<a href="#">Some</a>
							<a href="#">Tag</a>
							<a href="#">Goes</a>
							<a href="#">Here</a>
							<a href="#">Utempor</a>
							<a href="#">Incididunt</a>
							<a href="#">Labore</a>
							<a href="#">Dolore</a>
							<a href="#">Magna</a>
							<a href="#">Aliqua</a>
							<a href="#">Seddo</a>
							<a href="#">Siusmod</a>
							<a href="#">Tempor</a>
							<a href="#">Incididunt</a>
							<a href="#">Ut labore</a>
							<a href="#">Et dolore </a>
							<a href="#">Magna </a>
							<a href="#">Aliqua</a>
						</div>

					</aside><!--/.widget-->

				</div><!--/.sidebar col-md-4 col-lg-4 col-xl-3-->

			</div><!--/#content-->

		</div><!--#main.container-->
	{% endblock content %}
