{% extends "homesite/base.html" %}
	{% block content %}
		<div id="main" class="container">

			<div id="content" class="content section row">

				<div class="col-md-8 bg-base col-lg-8 col-xl-9">

					<div class="ribbon ribbon-highlight">
						<ol class="breadcrumb ribbon-inner">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li class="active">Posts</li>
						</ol>
					</div>

					<header class="page-header">

						<h2 class="page-title">
							{{ tag.label|upper }}
						</h2>

					</header>

					<div class="entries">
						{% for post in posts %}
							<article class="entry style-media media type-post">

								<div class="style-review-score">{{ post.id }}</div>

								<figure class="media-object pull-left entry-thumbnail">

									<!-- to disable lazy loading, remove data-src and data-src-retina -->
									<img src="../img/placeholder.gif" data-src="{{ post.image_link }}" data-src-retina="{{ post.image_link }}" width="230" height="230" class="" alt="">

									<!--fallback for no javascript browsers-->
									<noscript>
										<img src="../uploads/230x230_1.jpg" alt="">
									</noscript>

								</figure>

								<div class="media-body">

									<header class="entry-header">
										<h3 class="entry-title">
											<a href="{% url 'post_detail' post.slug %}" rel="bookmark">{{ post.title }}</a>
										</h3>

										<div class="entry-meta">
											<span class="author">por <a href="blog.html">{{ post.author }}</a></span>
											<span class="entry-date"><a href="blog.html">em <time datetime="2013-07-04T23:26:34+00:00">{{ post.pub_date }}</time></a></span>
											<span class="category">em <a href="{% url 'posts_category_list' post.category %}">{{ post.category }}</a></span>
										</div>

									</header>

									<p>
										{{ post.short_description }}
										<a href="{% url 'post_detail' post.slug %}" class="more-link">Continuar Lendo<i class="icon icon-long-arrow-right"></i></a>
									</p>

								</div>

							</article>
						{% endfor %}

					</div><!--/.entris-->

					<!--<ul class="pagination">
						<li><a href="#">&laquo;</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li class="active"><span>3</span></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li><a href="#">10</a></li>
						<li><a href="#">5</a></li>
						<li><span> ... </span></li>
						<li><a href="#">1234</a></li>
						<li><a href="#">1235</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>-->

				</div><!--/.col-md-8.col-lg-8.col-xl-9-->

				<div class="sidebar col-md-4 col-lg-4 col-xl-3">

					<aside class="widget">

						<h2 class="widget-title ribbon"><span>Filtros</span></h2>

						<ul class="entries">
							<li class="entry style-score-widget">
								<div class="score-label entry-title"><h3>Tags</h3></div>
								<div class="tagcloud">
									{% for tag in tags %}
										<a href="{% url 'posts_tag_list' tag.name %}">{{ tag.label }}</a>
									{% endfor %}
								</div>
							</li>
							<li class="entry style-score-widget">
								<div class="score-label entry-title"><h3>Categorias</h3></div>
								<div class="tagcloud">
									{% for category in categories %}
										<a href="{% url 'posts_category_list' category.name %}">{{ category.label }}</a>
									{% endfor %}
								</div>
							</li>

						</ul>

					</aside>

					</aside><!--/.widget-->

				</div><!--/.sidebar col-md-4 col-lg-4 col-xl-3-->

			</div><!--/#content-->

		</div><!--#main.container-->
	{% endblock content %}