{% extends "homesite/base.html" %}
{% load staticfiles %}
	{% block content %}

	<div id="fb-root"></div>
		<script>
			  window.fbAsyncInit = function() {
			  FB.init({
			    appId      : '815093458588258', // App ID
			    channelUrl : 'http://fasainforma.aethersolucoes.com.br', // Channel File
			    status     : true, // check login status
			    cookie     : true, // enable cookies to allow the server to access the session
			    xfbml      : true  // parse XFBML
			  });
			};

			(function(d){
			  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			  if (d.getElementById(id)) {return;}
			  js = d.createElement('script'); js.id = id; js.async = true;
			  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=815093458588258";
			  ref.parentNode.insertBefore(js, ref);
			}(document));
		</script>

	<!-- FACEBOOK COMMENTS PLUGIN -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- END FACEBOOK COMMENTS PLUGIN -->

		<div id="main" class="container">

			<div class="section section-no-margin-bottom row entries bg-primary">

				<article class="entry style-grid style-hero hero-nav type-post col-xs-6 col-sm-6">

					<a href="{% url 'post_detail' prev_post.slug %}">
						<header class="entry-header">
							<p class="small">Post Anterior</p>
							<h3 class="entry-title">{{ prev_post.title }}</h3>
						</header>

						<figure class="entry-thumbnail">

							<div class="overlay overlay-primary"></div>

							<!-- to disable lazy loading, remove data-src and data-src-retina -->
							<img src="{% static 'img/placeholder.gif' %}" data-src="{{ prev_post.image_link }}" data-src-retina="{{ prev_post.image_url }}" width="480" height="280" alt="">

							<!--fallback for no javascript browsers-->
							<noscript>
								<img src="{% static 'uploads/480x280_1.jpg' %}" alt="">
							</noscript>

						</figure>

					</a> 

				</article>

				<article class="entry style-grid style-hero hero-nav type-post col-xs-6 col-sm-6">

					<a href="{% url 'post_detail' next_post.slug %}">

						<header class="entry-header">
							<p class="small">Proximo Post</p>
							<h3 class="entry-title">{{ next_post.title }}</h3>
						</header>

						<figure class="entry-thumbnail">

							<div class="overlay overlay-primary"></div>

							<!-- to disable lazy loading, remove data-src and data-src-retina -->
							<img src="{% static 'img/placeholder.gif' %}" data-src="{{ next_post.image_link }}" data-src-retina="{{ next_post.image_link }}" width="480" height="280" alt="">

							<!--fallback for no javascript browsers-->
							<noscript>
								<img src="{% static 'uploads/480x280_3.jpg' %}" alt="">
							</noscript>

						</figure>

					</a> 

				</article>

			</div>

			<div id="content" class="content section row">

				<div class="col-md-8 bg-base col-lg-8 col-xl-9">

					<div class="ribbon ribbon-highlight">
						<ol class="breadcrumb ribbon-inner">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'all_posts' %}">Posts</a></li>
							<li class="active" title="{{ post.title }}">{{ post.title }}</li>
						</ol>
					</div>

					<header class="page-header">

						<div class="page-meta pull-right hidden-xs">
							<a href="#comments">
								<span class="comments-count-balloon bg-primary">123<em>Comments</em></span>
							</a>
						</div>

						<h2 class="page-title">
							{{ post.title }}
						</h2>

					</header>

					<article class="entry style-single type-post">

						<figure class="entry-thumbnail">

							<!-- to disable lazy loading, remove data-src and data-src-retina -->
							<img src="{% static 'img/placeholder.gif' %}" data-src="{{ post.image_link }}" data-src-retina="{{ post.image_link }}" width="680" height="452" alt="">

							<!--fallback for no javascript browsers-->
							<noscript>
								<img src="{{ post.image_link }}" alt="">
							</noscript>

						</figure>

						<div class="entry-meta indented">
							<span class="author">por <a href="blog.html">{{ post.author }}</a></span>
							<span class="entry-date"><a href="blog.html">em <time datetime="{{ post.pub_date }}">{{ post.pub_date }}</time></a></span>
							<span class="category">em <a href="{% url 'posts_category_list' post.category.name %}">{{ post.category.name }}</a></span>
						</div>

						<div class="entry-content indented">

							<p class="lead">
							{% autoescape off %}
								{{ post.content|linebreaks }}
							{% endautoescape %}
							</p>


						</div>

					</article>

					<hr>

					<div id="comments" class="comments-area indented">

						<h4 class="comments-title">Comentários</h4>
						<hr>

						<div class="fb-comments"
						data-href="{{ my_object.slug }}"
						data-num-posts="5"
						data-width="589">
						</div>

						<!--<ol class="media-list comment-list">
							<li class="media comment">

								<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

								<div class="media-body">

									<h4 class="media-heading author-vcard">
										<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
										<span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span>
									</h4>
									<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

								</div>

								<ol class="media-list">

									<li class="media comment">

										<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

										<div class="media-body">

											<h4 class="media-heading author-vcard">
												<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
												<span class="comment-meta commentmetadata"> on <a href="#">July 8, 2013 at 7:46 am</a></span>
											</h4>

											<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

										</div>

									</li>

									<li class="media comment">

										<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

										<div class="media-body">

											<h4 class="media-heading author-vcard">
												<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
												<span class="comment-meta commentmetadata"> on <a href="#">July 8, 2013 at 7:46 am</a></span>
											</h4>

											<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

										</div>

										<ol class="media-list">
											<li class="media comment">

												<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

												<div class="media-body">

													<h4 class="media-heading author-vcard">
														<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
														<span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span>
													</h4>

													<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
												</div>

											</li>

											<li class="media comment">

												<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

												<div class="media-body">

													<h4 class="media-heading author-vcard">
														<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
														<span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span>
													</h4>

													<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
												</div>

											</li>

										</ol>

									</li>

								</ol>

							</li>
							<li class="media comment">

								<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

								<div class="media-body">

									<h4 class="media-heading author-vcard">
										<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
										<span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span>
									</h4>
									<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

								</div>

							</li>
							<li class="media comment">

								<img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="avatar media-object pull-left img-circle">

								<div class="media-body">

									<h4 class="media-heading author-vcard">
										<cite class="fn"><a href="#" rel="external nofollow" class="url">Mr John Doe</a></cite> 
										<span class="comment-meta commentmetadata">on <a href="#">July 8, 2013 at 7:46 am</a></span>
									</h4>
									<p>Hi, this is a comment. enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

								</div>

							</li>
						</ol>

						<div id="respond" class="comments-respond">

							<h3 id="reply-title" class="comment-reply-title">Deixa um comentário</h3>

							<form action="#" class="form-inline row" method="post" id="commentform">

								<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label class="sr-only" for="inputName">Nome</label>
									<input class="form-control" id="inputName" name="author" type="text" value="" aria-required="true" placeholder="Seu Nome">
								</div>

								<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label class="sr-only" for="inputEmail">E-mail</label>
									<input class="form-control" id="inputEmail" name="author" type="text" value="" aria-required="true" placeholder="Seu E-mail">
								</div>

								<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label class="sr-only" for="inputWebsite">Website</label>
									<input class="form-control" id="inputWebsite" name="author" type="text" value="" aria-required="true" placeholder="Seu Website">
								</div>

								<div class="form-group col-lg-12 col-md-12 col-sm-12">
									<label class="sr-only" for="inputMessage">Messagem</label>
									<textarea class="form-control" id="inputMessage" name="message" rows="8" aria-required="true" placeholder="Seu comentário"></textarea>
								</div>

								<div class="form-group col-lg-12 col-md-12 col-sm-12">
									<button class="btn btn-primary" name="submit" id="submit">Enviar comentário</button>
								</div>

							</form>

						</div>--><!-- #respond -->

					</div><!--/#comments-->

				</div><!--/.col-md-8.col-lg-8.col-xl-9-->

				<div class="sidebar col-md-4 col-lg-4 col-xl-3">

					<aside class="widget">

						<h3 class="widget-title ribbon"><span>Tags</span></h3>

						<div class="tagcloud">
							<a href="#">Some</a>
							<a href="#">Tag</a>
							<a href="#">Goes</a>
							<a href="#">Here</a>
							<a href="#">Utempor</a>
							<a href="#">Incididunt</a>
							<a href="#">Labore</a>
							<a href="#">Dolore</a>
							<a href="#">Magna</a>
							<a href="#">Aliqua</a>
							<a href="#">Seddo</a>
							<a href="#">Siusmod</a>
							<a href="#">Tempor</a>
							<a href="#">Incididunt</a>
							<a href="#">Ut labore</a>
							<a href="#">Et dolore </a>
							<a href="#">Magna </a>
							<a href="#">Aliqua</a>
						</div>

					</aside><!--/.widget-->

				</div><!--/.sidebar col-md-4 col-lg-4 col-xl-3-->

			</div><!--/#content-->

		</div><!--#main.container-->
	{% endblock content %}
